<div class="container-fluid py-2">
	<div class="row">
		<div class="col-12">
			<div class="card my-4">
				<div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
					<div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
						<h6 class="text-white text-capitalize ps-3">Products table</h6>
					</div>
				</div>
				<div class="card-body px-0 pb-2">
					<input type="text" id="searchInput" class="form-control mb-3" placeholder="Search products..." />
					<div class="table-responsive p-0">
						<table class="table align-items-center mb-0">
							<thead>
								<tr>
									<th>ID</th>
									<th>Product Name</th>
									<th>Category</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody id="productTableBody"></tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
	$(document).ready(function () {

		loadProducts("");


		$("#searchInput").on("keyup", function () {
			let searchTerm = $(this).val();
			loadProducts(searchTerm);
		});

		function loadProducts(searchTerm) {
			$.ajax({
				url: "/Home/SearchProducts",
				type: "GET",
				data: { searchTerm: searchTerm },
				success: function (data) {
					let tableBody = "";
					data.forEach(product => {
						tableBody += `<tr>
							<td>${product.productId}</td>
							<td>${product.productName}</td>
							<td>${product.category}</td>
							<td>${product.price}</td>
						</tr>`;
					});
					$("#productTableBody").html(tableBody);
				},
				error: function (error) {
					console.log("Error:", error);
				}
			});
		}
	});


</script>